.checkbox-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
}

.checkbox-img__description {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.checkbox-img__img,
.checkbox-img__container {
  width: 320px;
  height: 210px;
}

.checkbox-img__container {
  position: relative;
  z-index: 0;
}

.checkbox-img__price {
  position: absolute;
  bottom: 0;
  right: 0;

  text-align: right;
  background-color: var(--background-primary);

  padding: 0.5rem;
  height: 2rem;
}
