
@media (min-width: 1100px) {
.container-packages {
  width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5 ;
  border-radius: 20px;
  height: 50vh;
}

.destination-packages {
  display: flex;
}

.package-pic {
  max-width: 500px;
  height: 50vh;
  border-radius: 20px;
}

.package-title {
  padding-top: 3%;
  margin-left: 9%;
}

}
