.title {
  font-family: 'Lora';
  margin: 1rem auto 0.5rem auto;
  padding: 0;
  text-align: center;
  flex-basis: 40%;
}

.title--regular {
  font-weight: 400;
}

/* Linie mezi h2 */
.title-line {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0;
}

.line-one {
  flex: 1;
  background-color: var(--text);
  height: 0.5px;
}

.line-two {
  flex: 1;
  background-color: var(--text);
  height: 0.5px;
}
