
/* Obecné nastavení*/
li {
  list-style-type: none;
}

/* Media*/

@media (min-width: 350px) {

.navbar {
  display: none;
}

.navbar--open {
  display: block;
  padding-right: 5%;
}
}

@media (min-width: 1100px) {

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 4rem;
  }

}
