.steps__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .steps__container {
    flex-direction: row;
    gap: 1.7rem;
  }
}

@media (min-width: 1100px) {
  .steps__container {
    gap: 3rem;
  }
}
