.footer,
.footer__icons,
.footer__offices {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer {
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background-primary);
  text-align: center;
  padding: 2rem 0;
}

.footer p {
  margin: 0;
}

.footer__title {
  margin-bottom: 1rem;
}



@media (min-width: 570px) {
  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer,
  .footer__offices,
  .footer__icons {
    gap: 3rem;
  }

}
