.contact-map {
  background-image: url(map.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.contact-adress,
.contact-phone,
.contact-mail,
.contact-hours {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
}

@media (min-width: 350px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-map {
    width: 70vw;
    height: 30vh;
    margin: 0 auto;
    margin-top: 5%;
  }

  .contact-adress,
  .contact-phone,
  .contact-mail,
  .contact-hours {
    justify-content: center;
  }
}

@media (min-width: 850px) {
  .contact-container {
    flex-direction: row;
    align-items: center;
  }

  .contact-map {
    width: 50vw;
    height: 70vh;
    margin: 0;
  }

  .contact-icons {
    flex-basis: 50%;
  }

  .contact-adress,
  .contact-phone,
  .contact-mail,
  .contact-hours {
    justify-content: start;
  }
}

@media (min-width: 1100px) {
  .contact-container {
    flex-direction: row;
  }

  .contact-map {
    background-image: url(map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 50%;
    height: 50vh;
  }

  .contact-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
}
